[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

dropbox = "*"
numpy = "*"
pytz = "*"
timezonefinderl = "*"
pillow = "*"
piexif = "*"
geopy = "*"
python-resize-image = "*"
dlib = "*"
face-recognition = "*"
opencv-python = "*"
flask = "*"
Flask-Limiter = "*"
gunicorn = "*"
redis = "*"
rq = "*"

[dev-packages]



[requires]

python_version = "3.6"
