[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

dropbox = "*"
numpy = "*"
pytz = "*"
timezonefinderl = "*"
pillow = "*"
piexif = "*"
geopy = "*"
python-resize-image = "*"
dlib = "==19.4"
face-recognition = "==0.2.2"
opencv-python = "*"
mysqlclient = "*"
flask = "*"
uwsgi = "*"


[dev-packages]



[requires]

python_version = "3.6"
