face-recognition==1.2.3
dropbox==9.3.0
numpy==1.16.2
pytz==2018.9
timezonefinderL==2.0.1
Pillow==8.2.0
piexif==1.1.2
geopy==1.18.1
python-resize-image==1.1.18
requests==2.21.0
Flask==1.0.2
Flask-Limiter==1.0.1
gunicorn==19.9.0
redis==3.0.1
python-redis-lock==3.3.1
rq==0.13.0
rq-dashboard==0.4.0
PyYAML==5.1
python-dotenv==0.10.1
ImageHash==4.0
